<!-- player/list -->
<% content_for :head do %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag params[:controller] %>
<% end %>

<div align="left">

<table border="0" width="95%" cellpadding="5">
    <tr>
        <td width="50%">
        <%= form_tag('/game', :id => 'players_form', :remote => true) do %>
            <% if @players.blank? %>
                <p id="playersinline">Currently, there are no players. Please wait...</p>
            <% else %>
            	<p id="playersinline">Waiting players:</p>
            <% end %>
            	<%= select_tag "playersids", options_from_collection_for_select(@players, "id", "name"), 
            	    :multiple => true, :size => 10 %>
            	<br /><br />
            	<%= submit_tag("Invite these players to a new game", :name => 'commit') %>&nbsp;
        <% end %>
        </td>
        <td>
            <table width="90%" bgcolor="#FF9999"><tr><td>
            <div id="messages">
                &nbsp;
            </div>
            </tr>
            </td>
            </table>
        </td>
    </tr>
</table>
</div>
