<h1>Buying <%= pluralize(@stocks.length, 'stock') %> </h1>

<p>
  <%= form_tag() do %>
    <table border='1' cellspacing='2' cellpadding='2' width='95%'> 
    <th width='40%'>Company Name</th> 
    <th width='20%'>Current</th> 
    <th width='20%'>You have</th> 
    <th width='20%'>Buy</th> 
        <% @stocks.each do |e| %>
            <tr>
                <td><%= e.title %></td>
                <td><%= e.current %></td>
                <td>0</td>
                <td><%= text_field_tag 'sellqty[]', 0 %></td>
            </tr>
        <% end %>
    </table>
  <p>&nbsp;</p>
  <%= submit_tag 'Cancel', :name => 'commit' %>
  <%= submit_tag 'Buy', :name => 'commit' %>
  <% end %>

</p>