<h1>Stocks</h1>
<% if @titles.blank? %> 
    <br />No titles in database.<br /> 
<% else %> 
    <%= form_tag('/title/action') do %>
    <table border='1' cellspacing='2' cellpadding='2' width='95%'> 
    <th width="5%">&nbsp;</th>
	<th width='35%'>Company Name</th> 
    <th width='10%'>Last</th> 
    <th width='10%'>Cur</th> 
    <th width='10%'>Change</th> 
    <th width='10%'>Cost</th> 
    <th width='10%'>Profit</th> 
    <th width='10%'>Share</th> 
		<% @titles.each do |e| %>
			<tr>
			    <td><%= check_box_tag 'stockselect[]', e.id %></td>
				<td><%= e.title %></td>
				<td><%= e.current %></td>
				<td><%= e.previous %></td>
				<td>-</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><%= e.quantity %></td>
			</tr>
		<% end %>
    </table>
<p>&nbsp;</p>

        <%= submit_tag 'Sell', :name => 'commit', :class => "stylebutton" %>
        <%= submit_tag 'Buy', :name => 'commit', :class => "stylebutton" %>
        <%= link_to "Loan", { :action => 'loan' }, :class => "stylebutton" %>
        <%= link_to "Assets", { :action => "assets" }, :class => "stylebutton" %>
        <%= link_to "Graph", { :action => "graph" }, :class => "stylebutton" %>
        <%= link_to "End Turn", { :action => "endturn" } , :class => "stylebutton" %>
        <%= link_to "Top 15", { :action => "top15" }, :class => "stylebutton" %>
        
    <% end %>
<p>&nbsp;</p>
<% end %>