<% content_for :head do %>
<%= csrf_meta_tag %>
<%= javascript_include_tag 'invite_accept' %>
<% end %>

<table border="0" width="95%" cellpadding="5">
    <tr>
        <td>
        <table width="100%" border="0">
            <tr>
                <td>
                    <p>
                    Waiting for player(s) to begin the game...
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <%= form_tag( {:controller => "game", :action => "create", :method => "post"} , {:id=>'invitations'}) do %>
                    <table border="0" width="45%">
                        <thead>
                            <th width="75%" align="left">Invited</th>
                            <th align="left">Accepted</th>
                        </thead>
                        <tbody>
                            <% @invitations.each do |invitation| %>
                            <tr>
                                <td><%= invitation.name %></td>
                                <td><%= check_box_tag 'playersids[]', invitation.id, invitation.accepted, :id => 'accepted' + invitation.id.to_s %></td>
                            </tr>
                            <% end %>
                            <tr>
                               <td colspan="2">
                                   <div id="message">&nbsp;</div>
                               </td> 
                            </tr>
                        </tbody>
                    </table>
                    <% end %>
                </td>

            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <%= link_to "Back to lobby", { :controller => 'player', :action => 'list' }, :class => "stylebutton" %>
                </td>
            </tr>
        </table>
        </td>
    </tr>
</table>