<!-- invitations/waiting -->

<% content_for :head do %>
<%= csrf_meta_tag %>
<%= javascript_include_tag params[:controller] %>
<% end %>

<table border="0" width="95%" cellpadding="5">
	<tr>
		<td>
		<table width="90%" bgcolor="#FF9999">
		    <tr>
		        <td>
		            <div id="waiting">
		            You are waiting for a game invitation...
		            </div>
		        </td>
		    </tr>
			<tr>
				<td>
				<div id="invitation" style="display:none">
					<%= form_tag('/player/invitations/accept') do %>
					<div id="proposal">
						xxx has invited you to join a game.
					</div>
					<div id="question">
						Do you accept?
					</div>
					<br/>
					<div>
						<%= submit_tag("Yes", :name => 'commit', :class => "stylebutton") %>&nbsp;
						<%= button_to_function("No", "decline_invite()", :class => "stylebutton") %>
					</div>
					<% end %>
				</div>
				</td>
			</tr>
			<tr>
			    <td>
			        <%= link_to "Back to lobby", { :action => 'list' }, :class => "stylebutton" %>
			    </td>
			</tr>
        </table>
        </td>
    </tr>
</table>
